<div style="width: 400px; margin: auto">
  <div
    *ngIf="message"
    class="alert alert-success alert-dismissible fade show"
    role="alert"
  >
    {{ message }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div *ngIf="currentAlbum" class="edit-form">
    <h4>Album</h4>
    <img class="cover" [src]="currentAlbum.coverUrl" alt="Album cover" />
    <form>
      <div class="form-group">
        <label for="title">Title</label>
        <input
          type="text"
          class="form-control"
          id="title"
          [(ngModel)]="currentAlbum.title"
          name="title"
          required
        />
      </div>

      <div class="form-group">
        <label for="author">Author</label>
        <input
          type="text"
          class="form-control"
          id="author"
          [(ngModel)]="currentAlbum.author"
          name="author"
        />
      </div>

      <div class="form-group">
        <label for="coverUrl">Cover URL</label>
        <input
          type="url"
          class="form-control"
          id="coverUrl"
          required
          [(ngModel)]="currentAlbum.coverUrl"
          name="coverUrl"
        />
      </div>

      <div class="form-group">
        <label for="description">Description</label>
        <textarea
          class="form-control"
          id="description"
          [(ngModel)]="currentAlbum.description"
          name="description"
          required
        ></textarea>
      </div>

      <div class="form-group">
        <label for="releaseDate">Release Date</label>
        <input
          type="date"
          class="form-control"
          id="releaseDate"
          required
          [ngModel]="currentAlbum.releaseDate | date: 'yyyy-MM-dd'"
          (ngModelChange)="currentAlbum.releaseDate = $event"
          [value]="currentAlbum.releaseDate | date: 'yyyy-MM-dd'"
          #currentAlbum.releaseDate="ngModel"
          name="releaseDate"
        />
      </div>
    </form>

    <button class="badge badge-danger mr-2" (click)="deleteAlbum()">
      Delete
    </button>

    <button type="submit" class="badge badge-success" (click)="updateAlbum()">
      Update
    </button>
  </div>

  <div *ngIf="!currentAlbum">
    <br />
    <p>Cannot access this Album...</p>
  </div>
</div>
