<div style="width: 600px; margin: auto">
  <div class="submit-form">
    <div class="form-group">
      <label for="title">Title</label>
      <input
        type="text"
        class="form-control"
        id="title"
        required
        [(ngModel)]="album.title"
        name="title"
      />
    </div>

    <div class="form-group">
      <label for="author">Author</label>
      <input
        type="text"
        class="form-control"
        id="author"
        [(ngModel)]="album.author"
        name="author"
      />
    </div>

    <div class="row">
      <div class="form-group col-sm">
        <label for="coverUrl">Cover URL</label>
        <input
          type="url"
          class="form-control"
          id="coverUrl"
          required
          [(ngModel)]="album.coverUrl"
          name="coverUrl"
        />
      </div>
      <img class="cover-form col-sm" [src]="album.coverUrl" alt="Album cover" />
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <textarea
        class="form-control"
        id="description"
        [(ngModel)]="album.description"
        name="description"
        required
      ></textarea>
    </div>

    <div class="form-group">
      <label for="releaseDate">Release Date</label>
      <input
        type="date"
        class="form-control"
        id="releaseDate"
        required
        [(ngModel)]="album.releaseDate"
        name="releaseDate"
      />
    </div>

    <button (click)="saveAlbum()" class="btn btn-success">Submit</button>
  </div>
</div>
