.actions {
  a {
    margin-right: 5px;
    cursor: pointer;
  }
}

.cover {
  max-width: 215px;
  max-height: 120px;
}

.cover-mini {
  max-width: 107px;
  max-height: 60px;
}

.description {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}
