<div *ngIf="albums.length || search" class="list row">
  <div class="col-md-8">
    <div class="input-group mb-3">
      <input
        type="text"
        class="form-control"
        placeholder="Search by title"
        [(ngModel)]="title"
      />
      <div class="input-group-append">
        <button
          class="btn btn-outline-secondary"
          type="button"
          (click)="searchTitle()"
        >
          Search
        </button>
      </div>
    </div>
  </div>
  <div class="col-md-12">
    <pagination-controls
      previousLabel="Prev"
      nextLabel="Next"
      responsive="true"
      (pageChange)="handlePageChange($event)"
    ></pagination-controls>
  </div>
  <div class="col-md-6">
    <h4>Albums List</h4>
    <ul class="list-group">
      <li
        class="list-group-item"
        *ngFor="
          let album of albums
            | paginate
              : {
                  itemsPerPage: pageSize,
                  currentPage: page,
                  totalItems: count
                };
          let i = index
        "
        [class.active]="i == currentIndex"
        (click)="setActiveAlbum(album, i)"
      >
        <img class="cover-mini" [src]="album.coverUrl" alt="Album cover" />
        {{ album.title }}
      </li>
    </ul>

    <button class="m-3 btn btn-sm btn-danger" (click)="removeAllAlbums()">
      Remove All
    </button>
    Items per Page:
    <select (change)="handlePageSizeChange($event)">
      <option *ngFor="let size of pageSizes" [ngValue]="size">
        {{ size }}
      </option>
    </select>
  </div>
  <div class="col-md-6">
    <div *ngIf="currentAlbum">
      <h4>Album</h4>
      <div>
        <img class="cover" [src]="currentAlbum.coverUrl" alt="Album cover" />
      </div>
      <div>
        <label><strong>Title:</strong></label> {{ currentAlbum.title }}
      </div>
      <div *ngIf="currentAlbum.author">
        <label><strong>Author:</strong></label> {{ currentAlbum.author }}
      </div>
      <div>
        <label><strong>Description:</strong></label>
        <p class="description">{{ currentAlbum.description }}</p>
      </div>
      <div>
        <label><strong>Release Date:</strong></label>
        {{ currentAlbum.releaseDate | date: "yyyy-MM-dd" }}
      </div>
      <div class="actions">
        <a
          class="badge badge-warning"
          [routerLink]="['/albums', currentAlbum.id]"
        >
          Edit
        </a>

        <a class="badge badge-danger" (click)="deleteAlbum(currentAlbum.id)">
          Delete
        </a>
      </div>
    </div>

    <div *ngIf="!currentAlbum">
      <br />
      <p>Please click on a Album...</p>
    </div>
  </div>
</div>
<div *ngIf="albums.length === 0 && !search">
  <p>Not any album found...</p>
  <a class="btn btn-success" routerLink="/albums/add"> Create first one </a>
</div>
