<div>
  <nav class="navbar navbar-expand navbar-light bg-light">
    <a class="navbar-brand" href="#">MarketParts</a>
    <div class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink="albums" class="nav-link">Albums</a>
      </li>
      <li class="nav-item">
        <a routerLink="albums/add" class="nav-link">Create</a>
      </li>
    </div>
  </nav>

  <div class="container mt-3">
    <router-outlet></router-outlet>
  </div>
</div>
